node_modules
dist
dist-ssr
coverage
*.local
*.tsbuildinfo
.eslintcache

.env
.env.*
!.env.example

apps/api/src/generated
apps/api/storage

.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.prisma-composer
.vercel
.alchemy
